services:
    postgres:
        container_name: postgres_container
        image: postgres:14
        environment:
            POSTGRES_USER: malcolm
            POSTGRES_PASSWORD: malcolm
            PGDATA: /data/postgres
        volumes:
            - postgres:/data/postgres
        ports:
            - "5432:5432"
        networks:
            - backend
        restart: unless-stopped
    pgadmin:
        container_name: pgadmin_container
        image: dpage/pgadmin4
        environment:
            PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL:-malcolm@mail.com}
            PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD:-malcolm}
            PGADMIN_CONFIG_SERVER_MODE: "False"
        volumes:
            - pgadmin:/var/lib/pgadmin
        ports:
            - "5050:80"
        networks:
            - backend
        restart: unless-stopped

    keycloak:
        container_name: keycloak
        image: quay.io/keycloak/keycloak:26.5.1
        mem_limit: 700m
        volumes:
            - keycloak:/opt/keycloak/data
        ports:
            - "8443:8080"
        environment:
            KC_BOOTSTRAP_ADMIN_USERNAME: admin
            KC_BOOTSTRAP_ADMIN_PASSWORD: admin
        #      PROXY_ADDRESS_FORWARDING: "true"
        #      KEYCLOAK_FRONTEND_URL: "http://localhost:8443"
        command: ["start-dev"]
        networks:
            - backend

    mongo:
        image: mongodb/mongodb-community-server:latest
        container_name: mongo
        mem_limit: 700m
        ports:
            - "27017:27017"
        networks:
            - backend

    zookeeper:
        image: confluentinc/cp-zookeeper:7.5.0
        container_name: zookeeper
        ports:
            - "2181:2181"
        environment:
            ZOOKEEPER_CLIENT_PORT: 2181
            ZOOKEEPER_TICK_TIME: 2000
        networks:
            - backend

    kafka:
        image: confluentinc/cp-kafka:7.5.0
        container_name: kafka
        ports:
            - "9092:9092"
        environment:
            KAFKA_BROKER_ID: 1
            KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
            KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
            KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
        depends_on:
            - zookeeper
        networks:
            - backend

    rabbitmq:
        container_name: rabbitmq
        image: rabbitmq:4-management
        environment:
            RABBITMQ_DEFAULT_USER: guest
            RABBITMQ_DEFAULT_PASS: guest
        ports:
            - "5672:5672"
            - "15672:15672"
        networks:
            - backend
        restart: unless-stopped

    #    zipkin:
    #        container_name: zipkin
    #        image: openzipkin/zipkin
    #        ports:
    #            - 9411:9411
    #        networks:
    #            - backend

    config-server:
        build: ../config-server
        container_name: config-server
        ports:
            - 8888:8888
        environment: # Docker will pick the environment variables from the .env file
            #- SPRING_CLOUD_CONFIG_SERVER_NATIVE_SEARCH_LOCATIONS=/config (Incase the volume mapping doesn't work)
            - RABBITMQ_HOST=${RABBITMQ_HOST}
            - RABBITMQ_PORT=${RABBITMQ_PORT}
            - RABBITMQ_USERNAME=${RABBITMQ_USERNAME}
            - RABBITMQ_PASSWORD=${RABBITMQ_PASSWORD}
            - RABBITMQ_VHOST=${RABBITMQ_VHOST}
        volumes:
            - ../config-server/src/main/resources/config:/config
        networks:
            - backend
networks:
    backend:
        driver: bridge

volumes:
    postgres:
    pgadmin:
    keycloak:
