services:
    postgres:
        container_name: postgres_container
        image: postgres:14
        environment:
            POSTGRES_USER: malcolm
            POSTGRES_PASSWORD: malcolm
            PGDATA: /data/postgres
        volumes:
            - postgres:/data/postgres
        ports:
            - "5432:5432"
        networks:
            - backend
        restart: unless-stopped
    pgadmin:
        container_name: pgadmin_container
        image: dpage/pgadmin4
        environment:
            PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL:-malcolm@mail.com}
            PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD:-malcolm}
            PGADMIN_CONFIG_SERVER_MODE: "False"
        volumes:
            - pgadmin:/var/lib/pgadmin
        ports:
            - "5050:80"
        networks:
            - backend
        restart: unless-stopped

#    rabbitmq:
#        container_name: rabbitmq_container
#        image: rabbitmq:4-management
#        environment:
#            RABBITMQ_DEFAULT_USER: guest
#            RABBITMQ_DEFAULT_PASS: guest
#        ports:
#            - "5672:5672"
#            - "15672:15672"
#        networks:
#            - backend
#        restart: unless-stopped

#    zipkin:
#        container_name: zipkin
#        image: openzipkin/zipkin
#        ports:
#            - 9411:9411
#        networks:
#            - backend

networks:
    backend:
        driver: bridge

volumes:
    postgres:
    pgadmin:
