## Commented out rewrite paths that can be used if you wanted to use a different path from the client
#spring:
#    cloud:
#        gateway:
#            server:
#                webflux:
#                    routes:
#                        - id: product
#                          uri: lb://product
#                          predicates:
#                              - Path=/api/products/**
#                        #                          filters:
#                        #                              - RewritePath=/products(?<segment>/?.*), /api/products${segment}
#                        - id: user
#                          uri: lb://user
#                          predicates:
#                              - Path=/api/users/**
#                        #                          filters:
#                        #                              - "RewritePath=/users(?<segment>/?.*), /api/users${segment}"
#                        - id: order
#                          uri: lb://order
#                          predicates:
#                              - Path=/api/orders/**, /api/cart/**
#                        #                          filters:
#                        #                              - RewritePath=/orders(?<segment>/?.*), /api/products${segment}
#                        #                              - RewritePath=/cart(?<segment>/?.*), /api/cart${segment}
#                        - id: eureka-server
#                          uri: http://localhost:8761
#                          predicates:
#                              - Path=/eureka/main
#                          filters:
#                              - SetPath=/
#                        - id: eureka-server-static ## Allow static files to be loaded for the eureka page
#                          uri: http://localhost:8761
#                          predicates:
#                              - Path=/eureka/**

logging:
    level:
        root: INFO
#        org.springframework.cloud.gateway.route.RouteDefinitionLocator: INFO
#        org.springframework.cloud.gateway: TRACE

management:
    endpoints:
        web:
            exposure:
                include: "*"
    endpoint:
        shutdown:
            access: unrestricted
        health:
            show-details: always
    health:
        circuitbreakers:
            enabled: true
    tracing:
        sampling:
            probability: 1.0

# Circuit Breaker. You can find properties at https://resilience4j.readme.io/docs/circuitbreaker#create-and-configure-a-circuitbreaker
resilience4j:
    circuitbreaker:
        instances:
            storeBreaker:
                registerHealthIndicator: true
                slidingWindowSize: 10
                minimumNumberOfCalls: 5
                permittedNumberOfCallsInHalfOpenState: 3
                waitDurationInOpenState: 10s
                failureRateThreshold: 50
                automaticTransitionFromOpenToHalfOpenEnabled: true
                slidingWindowType: count_based

server:
    port: 8080
