spring:
    #    h2:
    #        console:
    #            enabled: true
    #    datasource:
    #        url: jdbc:h2:mem:test
    #    jpa:
    #        show-sql: true
    #        hibernate:
    #            ddl-auto: create
    datasource:
        url: jdbc:postgresql://localhost:5432/order
        username: malcolm
        password: malcolm

    rabbitmq:
        host: localhost
        port: 5672
        username: guest
        password: guest

    jpa:
        database: POSTGRESQL
        show-sql: true
        hibernate:
            ddl-auto: create
        database-platform: org.hibernate.dialect.PostgreSQLDialect

management:
    endpoints:
        web:
            exposure:
                include: "*"

server:
    port: 8083
