spring:
    #    h2:
    #        console:
    #            enabled: true
    #    datasource:
    #        url: jdbc:h2:mem:test
    #    jpa:
    #        show-sql: true
    #        hibernate:
    #            ddl-auto: create
    #    datasource:
    #        url: jdbc:postgresql://localhost:5432/userdb
    #        username: malcolm
    #        password: malcolm
    #
    #    jpa:
    #        database: POSTGRESQL
    #        show-sql: true
    #        hibernate:
    #            ddl-auto: create
    #        database-platform: org.hibernate.dialect.PostgreSQLDialect
    data:
        mongodb:
            uri: ${MONGODB_URI:?MONGODB_URI is required}
            database: userdb

    rabbitmq:
        host: ${RABBITMQ_HOST:localhost}
        port: ${RABBITMQ_PORT:5672}
        username: ${RABBITMQ_USERNAME:guest}
        password: ${RABBITMQ_PASSWORD:guest}
        virtual-host: ${RABBITMQ_VHOST:guest}
        connection-timeout: 30000

eureka:
    instance:
        prefer-ip-address: true # When this service tries to make a call to a service registered on eureka, it will use the IP address stored on Eureka instead of the hostname.
    client:
        service-url:
            default-zone: http://localhost:8761/eureka
        register-with-eureka: true
        fetch-registry: true

management:
    endpoints:
        web:
            exposure:
                include: "*"
    endpoint:
        shutdown:
            access: unrestricted
    tracing:
        sampling:
            probability: 1.0

logging:
    level:
        root: INFO
        com.malcolm.user: INFO
    file:
        name: ../logs/${spring.application.name}.log
    logback:
        rollingpolicy:
            max-file-size: 5MB
            max-history: 7

keycloak:
    admin:
        username: user
        password: user
        server-url: http://localhost:8443
        realm: store
        client-id: admin-cli

server:
    port: 8082
