spring:
    #    h2:
    #        console:
    #            enabled: true
    #    datasource:
    #        url: jdbc:h2:mem:test
    #    jpa:
    #        show-sql: true
    #        hibernate:
    #            ddl-auto: create
    #    datasource:
    #        url: jdbc:postgresql://localhost:5432/userdb
    #        username: malcolm
    #        password: malcolm
    #
    #    jpa:
    #        database: POSTGRESQL
    #        show-sql: true
    #        hibernate:
    #            ddl-auto: create
    #        database-platform: org.hibernate.dialect.PostgreSQLDialect
    data:
        mongodb:
            uri: ${MONGODB_URI:?MONGODB_URI is required}
            database: userdb

    rabbitmq:
        host: localhost
        port: 5672
        username: guest
        password: guest

eureka:
    instance:
        prefer-ip-address: true # When this service tries to make a call to a service registered on eureka, it will use the IP address stored on Eureka instead of the hostname.
    client:
        service-url:
            default-zone: http://localhost:8761/eureka
        register-with-eureka: true
        fetch-registry: true

management:
    endpoints:
        web:
            exposure:
                include: "*"
    endpoint:
        shutdown:
            access: unrestricted

logging:
    level:
        root: INFO
        com.malcolm.user: INFO                        

server:
    port: 8082
