spring:
    application:
        name: resource
    security:
        oauth2:
            resourceserver:
                jwt:
                    issuer-uri: http://127.0.0.1:8443/realms/oauth2-demos

server:
    port: 8082
