spring:
    application:
        name: gateway

    cloud:
        gateway:
            server:
                webflux:
                    routes:
                        - id: product
                          uri: http://localhost:8081
                          predicates:
                              - Path=/api/products/**
                        - id: user
                          uri: http://localhost:8082
                          predicates:
                              - Path=/api/users/**
                        - id: order
                          uri: http://localhost:8083
                          predicates:
                              - Path=/api/orders/**, /api/cart/**

server:
    port: 8080
