spring:
    application:
        name: gateway

    cloud:
        gateway:
            server:
                webflux:
                    routes:
                        - id: product
                          uri: lb://product
                          predicates:
                              - Path=/api/products/**
                        - id: user
                          uri: lb://user
                          predicates:
                              - Path=/api/users/**
                        - id: order
                          uri: lb://order
                          predicates:
                              - Path=/api/orders/**, /api/cart/**

logging:
    level:
        root: INFO
#        org.springframework.cloud.gateway.route.RouteDefinitionLocator: INFO
#        org.springframework.cloud.gateway: TRACE

management:
    endpoints:
        web:
            exposure:
                include: "*"
    endpoint:
        shutdown:
            access: unrestricted
    tracing:
        sampling:
            probability: 1.0

server:
    port: 8080
