spring:
    application:
        name: eureka

eureka:
    client:
        service-url:
            default-zone: http://eureka:8761/eureka
        register-with-eureka: false
        fetch-registry: false

management:
    endpoints:
        web:
            exposure:
                include:
                    - shutdown
                    - health
    endpoint:
        shutdown:
            access: unrestricted
server:
    port: 8761
